<_text>﻿@charset "utf-8";&#xD;
@namespace epub "http://www.idpf.org/2007/ops";&#xD;
&#xD;
h1 { color: rgb(0,90,156); }&#xD;
h2 { font-size: 140%;}&#xD;
h3 { font-size: 130%; }&#xD;
h4 { font-size: 120%; }&#xD;
&#xD;
.ctest h2, .ctest h3, .ctest h4, .ctest h5, .otest h2, .otest h3, .otest h4, .otest h5 {&#xD;
	font-size: 120%;&#xD;
	color: rgb(0,0,0);&#xD;
}&#xD;
&#xD;
/* accessibility classes */&#xD;
/* ftest: fundamental accessibility test */&#xD;
/* atest: advanced accessibility test */&#xD;
.ftest h2, .ftest h3, .ftest h4, .ftest h5, .atest h2, .atest h3, .atest h4, .atest h5 {&#xD;
    font-size: 120%;&#xD;
    color: rgb(0,0,0);&#xD;
}&#xD;
&#xD;
&#xD;
body {&#xD;
    font-family: arial, helvetica, sans-serif;&#xD;
    color: black;&#xD;
    background: white;        &#xD;
}&#xD;
&#xD;
.test-id, .demo-ctest {    &#xD;
    font-size: 80%;&#xD;
    font-style: normal;    &#xD;
    color:navy;&#xD;
    margin-right: 1em;    &#xD;
    padding: 0.3em;&#xD;
}&#xD;
&#xD;
.ctest, .otest {&#xD;
    margin-bottom: 1em;&#xD;
    padding-left: 1em;&#xD;
}&#xD;
&#xD;
/* accessibility classes */&#xD;
.ftest, .atest {&#xD;
    margin-bottom: 1em;&#xD;
    padding-left: 1em;&#xD;
}&#xD;
&#xD;
&#xD;
.ctest {&#xD;
    border: 1px solid gray;&#xD;
    margin-bottom: 1em;&#xD;
    padding-left: 1em;&#xD;
}&#xD;
&#xD;
.otest {&#xD;
    border: 1px dotted gray;&#xD;
    margin-bottom: 1em;&#xD;
    padding-left: 1em;&#xD;
}&#xD;
&#xD;
/* accessibility class */&#xD;
.ftest {&#xD;
    border: 1px solid gray;&#xD;
    margin-bottom: 1em;&#xD;
    padding-left: 1em;&#xD;
}&#xD;
/* accessibility class */&#xD;
.atest {&#xD;
    border: 1px dotted gray;&#xD;
    margin-bottom: 1em;&#xD;
    padding-left: 1em;&#xD;
}&#xD;
&#xD;
&#xD;
.nature {&#xD;
	display: block;&#xD;
	padding-right: 1em;&#xD;
	padding-left: 0.5em;&#xD;
	font-size: 50%;&#xD;
}&#xD;
&#xD;
.ctest .nature {&#xD;
	color: rgb(255,0,0);&#xD;
}&#xD;
&#xD;
.otest .nature {&#xD;
	color: rgb(0,0,255);&#xD;
}&#xD;
&#xD;
/* accessibility class */&#xD;
.ftest .nature {&#xD;
    color: rgb(255,0,0);&#xD;
}&#xD;
/* accessibility class */&#xD;
.atest .nature {&#xD;
    color: rgb(0,0,255);&#xD;
}&#xD;
&#xD;
&#xD;
dl.info dt {&#xD;
    font-weight: bold;&#xD;
    margin-bottom: 1em;&#xD;
}&#xD;
&#xD;
nav#toc ol  {&#xD;
    list-style-type: none;&#xD;
}&#xD;
&#xD;
nav a {&#xD;
	text-decoration:none;&#xD;
	color:black;&#xD;
}&#xD;
&#xD;
.eval {&#xD;
	font-weight:bold;&#xD;
}&#xD;
&#xD;
.eval:before {&#xD;
	content:"→";&#xD;
}&#xD;
&#xD;
.conditional {&#xD;
	font-style: italic;&#xD;
}&#xD;
&#xD;
table, th, td{&#xD;
 border: 1px solid black;&#xD;
border-collapse:collapse;&#xD;
padding:15px;&#xD;
&#xD;
 }&#xD;
&#xD;
aside[epub|type~="sidebar"] &#xD;
{   padding: 0.5em;&#xD;
   margin-left: 1em;&#xD;
   margin-right: 1em;&#xD;
   width: 30%;&#xD;
   background-color: rgb(240,240,240);&#xD;
   float:left; &#xD;
   border: 0.5px solid gray;&#xD;
}&#xD;
&#xD;
p.sidebartype &#xD;
{   padding: 0.5em;&#xD;
   margin-left: 1em;&#xD;
   margin-right: 1em;&#xD;
   width: 30%;&#xD;
   background-color: rgb(240,240,240);&#xD;
   float:left; &#xD;
&#xD;
}&#xD;
&#xD;
aside[epub|type~="footnote"] &#xD;
{  &#xD;
   font-size: 80%;&#xD;
   font-style: italic;    &#xD;
   color:navy;&#xD;
   &#xD;
   margin-left: 1em;&#xD;
   margin-right: 1em;&#xD;
   padding: 0.5em;&#xD;
   clear:both;&#xD;
}&#xD;
&#xD;
p.sample { &#xD;
width: 60%; &#xD;
float:right; &#xD;
margin-left: 1em; margin-right: 1em; &#xD;
}&#xD;
&#xD;
&#xD;
figure.image {
    margin-bottom: 30px;
}
&#xD;
figure.image figcaption {
    font-size: medium;
    margin-top: inherit !important;
    margin-bottom: inherit !important;
}
&#xD;
&#xD;
.sample-text {&#xD;
overflow:hidden;&#xD;
    margin-bottom: 1em;&#xD;
    padding-left: 1em;&#xD;
}&#xD;
&#xD;
&#xD;
</_text>